@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    background-color: #E7E7E7;
    color: #FFF; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 600px;
    padding: 35px;
    background-color: #8A63EB;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 15px;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #8F7BDF;
    color: #FFF;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box; 
}
button.btn, a {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #8F7BDF;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    display: block;
}
button.btn:hover, a:hover {
    background-color: #7B1FA2; 
}
p {
    text-align: center;
    margin-bottom: 10px;
}
