@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #E7E7E7; /* Roxo um pouco mais claro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background-color: #8A63EB; /* Roxo mais claro */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left; /* Alinha textos à esquerda */
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px; /* Garantir boa proporção */
}
input[type="text"], textarea {
    width: 100%; /* Usar o espaço total dentro da div */
    max-width: 480px; /* Limitar largura para centralizar visualmente */
    padding: 10px;
    margin-bottom: 15px; /* Espaçamento entre elementos */
    border: none;
    border-radius: 5px;
    background-color: #9F7EF2; /* Roxo mais claro para os inputs */
    color: white;
    font-size: 16px;
    resize: none;
    display: block;
}
textarea:focus, input:focus {
    outline: 2px solid #BA55D3; /* Roxo destaque */
}
.button-group {
    display: flex;
    justify-content: flex-start; /* Alinha botões com o início da div */
    gap: 10px; /* Espaçamento entre botões */
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #9F7EF2; /* Roxo mais claro */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
}
button:hover {
    background-color: #BA55D3; /* Roxo destaque */
}
input::placeholder, textarea::placeholder {
    color: #fff; 
    font-family: 'Josefin Sans', sans-serif;
}
@media (max-width: 500px) {
    button {
        width: 48%;
    }
}
