@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
}
#header {
    height: 8vh; /* Altura do cabeçalho */
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: space-between; /* Espaçamento entre os elementos */
    padding: 0 3%; /* Espaçamento lateral */
    background-color: #574796; /* Cor de fundo do cabeçalho */
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; /* Garante o alinhamento vertical central dos itens */
    padding: 0 1.5rem; /* Espaçamento interno no nav */
}
.links {
    display: flex;
    gap: 20px; /* Espaçamento entre os links */
}
.links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
#search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
#search form {
    display: flex; /* Usa flexbox para alinhar o input e o botão */
    align-items: stretch; /* Garante que o botão e o input tenham a mesma altura */
    width: 80%; /* Ajusta a largura do formulário */
    max-width: 800px; /* Define uma largura máxima para o formulário */
}
#search input {
    flex: 1; /* Faz o input crescer para ocupar o espaço disponível */
    padding: 8px 12px; /* Ajusta o padding para diminuir a altura do input */
    border: 1px solid #e7e7e7;
    border-right: none; /* Remove a borda direita do input */
    border-radius: 25px 0 0 25px; /* Apenas as bordas esquerda são arredondadas */
    outline: none;
    transition: border-color 0.3s;
    font-size: 14px; /* Ajusta o tamanho da fonte para ser mais discreto */
    font-family: "Josefin Sans", sans-serif; /* Garante que a fonte seja Josefin Sans */
    margin: 0; /* Remove qualquer margem entre o input e o botão */
}
#search input:focus {
    border-color: #B8AFDF;
}
#search button {
    background-color: #574796; /* Cor de fundo roxa */
    color: white;
    border: 1px solid #e7e7e7;
    border-left: none; /* Remove a borda esquerda do botão */
    border-radius: 0 25px 25px 0; /* Apenas as bordas direita são arredondadas */
    padding: 8px 16px; /* Ajusta o padding para combinar com o input */
    font-size: 14px; /* Ajusta o tamanho da fonte para combinar com o input */
    font-family: "Josefin Sans", sans-serif; /* Garante que a fonte seja Josefin Sans */
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0; /* Remove qualquer margem entre o input e o botão */
}
#search button:hover {
    background-color: #6b5ea0; /* Tom mais claro de roxo para hover */
}

@media (max-width: 768px) {
    #search input {
        width: 70%;
    }
}

@media (max-width: 480px) {
    #search input {
        width: 90%;
    }
}

#welcome {
    height: 5vh; /* Altura do cabeçalho */
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: space-around; /* Espaçamento entre os elementos */
    padding: 15px 0;
    background-color: #B8AFDF; /* Cor de fundo do cabeçalho */
    color: #574796;
}
#categories{
    text-decoration: none;
    padding: 5px 40px 5px 40px;
    background-color: #fff;
    color: #574796;
    border-radius: 20px;
}
#welcome-section {
    margin: 15px;
    text-align: center;
}
/* Resultados da pesquisa */
.search-results,
#poems-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-results h2,
#poems-section h2 {
    width: 100%;
    text-align: center;
    background-color: #FFFDD0; /* Cor de fundo creme */
    padding: 20px;
    border-radius: 10px;
}
.search-results .poem,
#poems-section li {
    background-color: #FFFDD0; /* Cor de fundo creme */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.search-results .poem h3,
#poems-section li h3 {
    text-align: center;
    margin-bottom: 10px;
}
.search-results .poem p,
#poems-section li p {
    text-align: justify;
}
#poems-section li small {
    text-align: center;
    display: block;
    margin-top: 10px;
}
/* Filtro de categoria */
#poems-section form {
    text-align: center;
    margin-bottom: 20px;
}
#poems-section form label,
#poems-section form select {
    margin-right: 10px;
}
#poems-section form button {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
#poems-section form button:hover {
    background-color: #555;
}
.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.author-picture {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem se ajuste à div sem distorção */
}
.author-picture .placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author-name {
    font-weight: bold;
}

.heart-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.heart-icon svg {
    stroke: grey;  /* Cor inicial do coração (não curtido) */
    fill: none;
    transition: stroke 0.3s ease, fill 0.3s ease;  /* Suave transição ao mudar de cor */
}
.heart-icon.liked svg {
    stroke: red;   /* Cor do contorno do coração quando curtido */
    fill: red;     /* Preenchimento do coração */
}
.feather-heart.liked {
    stroke: red;
}

/* comentários postados | get */
.comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.profile-picture {
    width: 40px;
    height: 40px;
    object-fit: cover; 
    border-radius: 50%;
    margin-right: 10px;
}
.placeholder {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    margin-right: 10px;
}
.user-name {
    font-weight: bold;
    margin: 0;
}
.comment-content {
    margin: 5px 0;
}
.comment-date {
    font-size: 0.85em;
    color: #888;
}

/* Estilo para o botão de "Ver Comentários" e "Fechar" */
button {
    padding: 10px 15px;
    border-radius: 12px;
    margin: 5px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
}
/* Botão "Ver Comentários" e "Fechar" com fundo roxo e texto branco */
button:not(.send-comment-btn) {
    background-color: #6a0dad;
    color: #ffffff;
    border: none;
}
/* Botão "Enviar Comentário" com fundo branco e texto roxo */
button.send-comment-btn {
    background-color: #ffffff;
    color: #6a0dad;
    border: 1px solid #6a0dad;
}
/* Pop-up de Comentários com fundo roxo claro e bordas arredondadas */
.comments-popup {
    background-color: #f3e5f5;
    border-radius: 12px;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Estilo para o cabeçalho do pop-up */
.popup-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
/* Estilo para o texto "Comentários" */
.popup-header strong {
    font-size: 18px;
    color: #6a0dad;
}
/* Espaçamento e estilo do formulário */
.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* Estilo para a área de texto */
textarea[name="comment_text"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    resize: vertical;
}

.thumbs-up-icon svg {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.thumbs-down-icon svg {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.thumbs-up-icon svg:hover, .thumbs-down-icon svg:hover {
    fill: #007bff;
}

.thumbs-container {
    display: flex;
    gap: 10px; /* Leve espaçamento entre os ícones */
    align-items: center; /* Alinha os ícones no centro verticalmente */
}

.thumbs-up-icon, .thumbs-down-icon {
    cursor: pointer; /* Para indicar que os ícones são clicáveis */
}





